    <footer>
        <a href='#'> &COPY; 2019 </a>
        <a href='#'> Contact </a>
        <a href='#'> About </a>
        <a href='#'> Careers </a>
        <a href='#'> Store </a>
    </footer>
    </body> 
</html>